@font-face {
  font-family: 'IranianSan';
  src: url("../public/fonts/IranianSans/IranianSans.ttf");

}
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'IranianSan';
    background-color: var(--color-primary-light);
}
:root {
  --alpha-carbon-grey: rgba(64, 64, 64, 0.04);
  --color-less-dark:#363a3e;
  --color-primary-light: #f8f9fb;
  --color-primary-dark: #727272;  
  --color-white: #fff;
  --text-color: #404040;
  --text-color-light: #a3a3a3;
  --light-yellow-green-color: rgba(154, 205, 50, 0.08);
  --starcolor-35: #9acd32;
  --card-shadow: rgba(0, 0, 0, 0.1);
  --card-shadow-2: 0 2px 12px 0 var(--card-shadow);
  --card-shadow-3: 0 2px 6px 0 var(--card-shadow);
  --seperator-color: #e6e6e6;
  --rtl-direction:rtl;
  --text-medium: 14px;
  --font-medium: 500;
  --text-small: 12px;
  --font-regular: 400;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


